/* style.css */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#output {
  font-size: 28px;
}

#submit {
  padding-top: 10px;
}
